@import url('https://fonts.googleapis.com/css2?family=Plaster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #F0EFED;
  --foreground: #171717;
  --font-roboto: 'Roboto', sans-serif;
  --font-plaster: 'Plaster', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

li {
    list-style: none;
    font-size: 20px;
}

li:before {
    content:"·";
    color: rgb(12, 191, 12);
    font-size:96px;
    vertical-align:middle;
    line-height:20px;
}
